In [1]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split

In [2]:
df = pd.read_csv('final_discrete.csv', index_col = 0)

In [3]:
df.head()

,Latitude,Longitude,Depth,Magnitude Type,Root Mean Square,Source,Location Source,Magnitude Source,Magnitude Discrete
0,0.590649,0.904493,0.189274,5,0.317635,3,19,10,Big
1,0.484060,0.853759,0.115675,5,0.317635,3,19,10,Medium
2,0.346451,0.016736,0.030096,5,0.317635,3,19,10,Big
3,0.110396,0.434562,0.022964,5,0.317635,3,19,10,Medium
4,0.545838,0.851190,0.022964,5,0.317635,3,19,10,Medium

In [4]:
X = df.iloc[:, :-1]
X.head()

,Latitude,Longitude,Depth,Magnitude Type,Root Mean Square,Source,Location Source,Magnitude Source
0,0.590649,0.904493,0.189274,5,0.317635,3,19,10
1,0.484060,0.853759,0.115675,5,0.317635,3,19,10
2,0.346451,0.016736,0.030096,5,0.317635,3,19,10
3,0.110396,0.434562,0.022964,5,0.317635,3,19,10
4,0.545838,0.851190,0.022964,5,0.317635,3,19,10

In [5]:
y = df.iloc[:, -1:]
y.head()

  Magnitude Discrete
0                Big
1             Medium
2                Big
3             Medium
4             Medium

In [6]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=8)

### Train Decision Tree Classifier

In [7]:
dt_model = DecisionTreeClassifier(random_state=8)
dt_model.fit(X_train, y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=8,
            splitter='best')

In [8]:
predicted_y = dt_model.predict(X_test)
accuracy = accuracy_score(y_test, predicted_y)
print("Test Accuracy: {}%".format(accuracy * 100))

Test Accuracy: 58.67466736237934%

In [9]:
predicted_y = dt_model.predict(X_train)
accuracy = accuracy_score(y_train, predicted_y)
print("Train Accuracy: {}%".format(accuracy * 100))

Train Accuracy: 100.0%

### Train K-Nearest Neighbors Classifier

In [10]:
knn_model = KNeighborsClassifier()
knn_model.fit(X_train, y_train.values.ravel())
predicted_y = knn_model.predict(X_test)
accuracy = accuracy_score(y_test, predicted_y)
print("Test Accuracy: {}%".format(accuracy * 100))

Test Accuracy: 62.053222019306034%

In [11]:
knn_model.fit(X_train, y_train.values.ravel())
predicted_y = knn_model.predict(X_train)
accuracy = accuracy_score(y_train, predicted_y)
print("Train Accuracy: {}%".format(accuracy * 100))

Train Accuracy: 75.06264858960354%

### Train Gaussian Naive Bayes

In [12]:
gnb_model = GaussianNB()
gnb_model.fit(X_train, y_train.values.ravel())
predicted_y = gnb_model.predict(X_test)
accuracy = accuracy_score(y_test, predicted_y)
print("Test Accuracy: {}%".format(accuracy * 100))

Test Accuracy: 60.74876076180538%

In [13]:
gnb_model.fit(X_train, y_train.values.ravel())
predicted_y = gnb_model.predict(X_train)
accuracy = accuracy_score(y_train, predicted_y)
print("Train Accuracy: {}%".format(accuracy * 100))

Train Accuracy: 60.39324037781919%